body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fffbe5;
    color: #333;
}

header {
    background-color: #ffd700; /* Light yellow color for the header */
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #333;
    margin: 0;
    font-size: 28px;
    font-weight: 500;
}

.container {
    display: flex;
}

nav {
    display: flex;
    flex-direction: column; /*Ich will die untereinander in der Sidebar*/
    gap: 20px;
    background-color: #f0f0f0;
    padding: 10px;
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

nav a:hover {
    background-color: #e0e0e0;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /*??*/
    grid-gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: #fffdf0; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s ease-in-out; /*damit das Hochgleiten der Card sanft ist*/
}

.card:hover {
    transform: translateY(-4px); /*Gleite hoch on hover*/
}

.chart-container {
    width: 100%;
    height: 300px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

h1 {
    margin: 0;
    font-size: 28px;
    color: #333;
    margin-bottom: 16px;
    font-weight: 500;
}

h2 {
    margin: 0;
    font-size: 24px;
    color: #555;
    margin-bottom: 12px;
}

p {
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}


/* Responsive styles for small screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .sidebar {
        max-width: 100%;
    }
    .sidebar-chart {
        margin-bottom: 20px;
    }
    nav {
        flex-direction: row;
    }
    main {
        grid-template-columns: 1fr;
    }
    .card {
        width: 100%;
    }
    .chart-container {
        height: 200px;
    }
}

