<!DOCTYPE html>
<html>
<head>
    <title>Tabelle</title>
    <!-- jQuery -->
    <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <!--Chart.js-->
    <script src="../../../node_modules/chart.js/dist/chart.umd.js"></script>
    <script src="table.js"></script>
</head>
<body>
    <div id="tableContainer">
        <h1>Elections Table</h1>
        <table id="electionsTable">
            <th>Gegenstand</th>
            <th>Anzahl</th>
        </table>
    </div>
</body>
</html>

